html {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
}

/* NAV */
nav {
  width: 100%;
  display: flex;
  height: 130px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #787B7F;
  border-bottom: 5px solid #000;
  justify-content: flex-end;
}

.nav-mobile {
  display: none;
}
nav .logo {
    height: 100px;
    position: fixed;
    left: 0;
    margin: 15px 60px;
}


.list-container {
  background-color: #FFF;
  position: relative;
  top: 86px;
  right: 10%;
  height: 40px;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
}

.list-container img {
  width: 25px;
}
nav li {
  list-style: none;
  display: flex;
  margin-right: 10px;
  font-size: 18px;
}

nav li + li::before{
content: " | ";
padding-right: 10px;
}


nav .social {
  /* background-color:; */
  height: 90%;
  width: auto;
  margin: 0 10px;
}

nav .first-social {
  margin-left: 100px;
}
.satisfy {
  font-family: 'Satisfy', cursive;
}
.center {
  text-align: center;
}


.spacer {
  height: 130px;
}


/* Image Banner */
.banner-container-desktop {
  top: 130px;
  height: 600px;
  width: 100%;
  background-color: #000;
  display: flex;
  z-index: -1;
}

.banner-container-mobile {
  display: none;
}
/* .img-container {
} */

.img-container img {
  max-width: 100%;
  height: 750px;
  object-fit: cover;
}

.banner {
  position: relative;
  margin-top: 20px;
  height: 200px;
  background-color: #ED1B24;
  font-size: 11rem;
  color: white;
  text-align: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.freshman-text {
  width: 80%;
  margin: auto;
}

.horizontal-line {
  border-bottom: 2px solid black;
}

.freshman-card-container {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  width: 600px;
  height: 400px;
  /* background-color: black; */
  /* margin: 20px; */
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border: 3px solid #000;
  position: relative;
}

.card img {
  width: 600px;
  height: 400px;
  object-fit: cover;
}

.card:hover .overlay{
        opacity: 1;
    }

.overlay {
  position: absolute;
  top: 70%;
  bottom: 10%;
  left: 0;
  right: 0;
  height: 20%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
  z-index: 1;
  display: flex;
  justify-content: center;

}

.text {
  font-family: 'Satisfy', cursive;
  color: white;
  font-size:50px;
  position: absolute;
  top: -7px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.empty {
  width: auto;
  height: 50px;
}
footer {
  margin: auto;
  width: 80%;
  background-color:  #ED1B24;
}

.footer-mobile {
  display: none;
}
.footer-container {
  margin-top: 25px;
  display: flex;
}

footer ul {
  margin-left: 180px;
  list-style: none;
}

.first {
  margin-bottom: 20px;
}

footer li img {
  width: 25px;
  height: 25px;
}

footer p {
  text-align: center;
  padding-bottom: 20px;
}

/* Mobile */
@media only screen and (max-width: 500px) {

html {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}
  nav {
    display: none;
  }

.nav-mobile {
  display: block;
  text-align: center;
  background-color: #787B7F;
  border-bottom: 5px solid black;
}

.mobile-bottom {
    background-color: #FFF;
}
.mobile-links {
  border-top: 5px solid black;
  padding-top: 5px;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.mobile-links li {
  display: flex;
  margin: 0 5px;
}

.mobile-links li + li::before {
  content: "|";
  margin-right: 5px;
}
  body {
  }

.spacer {
  display: none;
}
  .banner-container-desktop {
    display: none;
  }

  .logo {
    margin-top: 10px;
  }
  .banner-container-mobile {
    display: flex;
    height: 300px;
    width: 100%;
  }

  .banner-container-mobile img{
    height: 300px;
    width: 100%;
  }

  .social {
    margin-top: 10px;
  }
  .banner {
    border-top: 5px solid black;
    margin-top: -5px;
    font-size: 3.2rem;
  }

  .card {
    width: 360px;
    height: 300px;
    margin: 5px;
  }

 .card .text {

   font-size: 2.6rem;
   width: 100%;

 }
.card img {
  width: 360px;
  height: 100%;
}
  .card .overlay{
    display: flex;
    justify-content: center;
          opacity: 1;
          width: 100%;
          height: 75px;
      }


  footer {
    display: none;
  }

  .empty {
    height: 20px;
  }
  .footer-mobile {
    background-color: #ED1B24;
    display: block;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    line-height: 10px;
  }

  .footer-mobile .socials {
    display: flex;
    justify-content: center;
    padding: 5px;
  }
  .footer-mobile .socials img {
    margin: 0 5px;
  }
